body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #007acc;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

section {
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  color: #007acc;
}

footer {
  text-align: center;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

.project-img {
      display: block;
      margin: 0 auto 20px;
      max-width: 280px;
      max-height: 280px;
      width: auto;
      height: auto;
      border-radius: 8px;
}
/* 头像样式 */
.avatar {
      display: block;
      margin: 0 auto 20px;
      max-width: 200px;
      max-height: 220px;
      width: auto;
      height: auto;
      border-radius: 12px;
}
